:root {
  --white: #FFFFFF;
  --black: #000000;
  --orange: #FF8C42;
  --light-orange: #F2E6D9;
  --gray-lavender: #8C7B9E;
  --gray-cyan: #3E7C7C;
  --dark-cyan: #114949;
  --dark-indigo: #1f1942;
  --light-gray: #A5A4A4;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --translucent-white: rgba(255, 255, 255, 0.95);
}

.side-menu {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    max-height: 100vh;
    width: 250px;
    background: var(--white);
    z-index: 1000;
    overflow-y: auto;
    border-left: 5px solid var(--orange);
    box-shadow: -5px 0 10px var(--shadow-color);
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--dark-teal);
    margin-bottom: 0;
    text-align: center;
}

.side-menu a {
    color: var(--dark-cyan);
    text-decoration: none;
    font-size: 20px;
    display: block;
    padding: 10px;
    text-align: center;
    transition: all 0.5s;
    position: relative;
}

.side-menu a:hover {
    color: var(--light-orange);
}

.side-menu a.active {
    color: var(--light-orange);
}



.side-menu a.active::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 100%;
    background-color: var(--orange);
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-repeat: repeat-y;
    font-size: 1.2rem;
}

main {
    width: calc(100vw - 250px);
    height: 100vh;
    max-width: 100vw;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-menu li {
    margin: 10px 0;
}

.section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 60px;
    scroll-snap-align: start;
}

.scrollable-content {
    max-height: 80vh;
    overflow-y: auto;
    padding-right: 50px;
    text-align: justify;
    font-size: 1.4rem;
}

h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 800;
    margin-bottom: 50px;
    font-size: 2rem;
}

h2 {
    font-family: 'Karla', sans-serif;
    margin-bottom: 40px;
    font-weight: 800;
    font-size: 1.7rem;
}

p {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    max-width: 1200px;
    line-height: 1.7;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    font-size: 1.5rem;
}

.about-map iframe {
    width: 100%;
    height: 350px;
    border: 0;
}

.logo_uj {
    position: absolute;
    top: 20px;
    left: 20px;
    list-style: none;
}

.logo_uj img {
    max-width: 100px;
    height: auto;
}

.side-menu .logo {
    text-align: center;
    margin-bottom: 30px;
}

.side-menu .logo img {
    width: 100%;
    max-width: 150px;
    height: auto;
}

.hamburger-menu {
    display: none;
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100;
}

main::-webkit-scrollbar {
    display: none;
}

@media (max-width: 768px) {

    body {
        font-size: 1rem;
        overflow-x: hidden;
    }

    main {
        width: 100%;
        height: 100vh;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .scrollable-content {
        max-height: 85vh;
        padding-right: 5px;
        padding-left: 5px;
        font-size: 1rem;
    }

    .side-menu {
        position: fixed;
        right: -100%;
        width: 80%;
        max-width: 300px;
        height: 100vh;
        background: var(--white);
        transition: right 0.3s ease-in-out;
    }

    .side-menu.active {
        right: 0;
    }

    .hamburger-menu {
        display: block;
    }

    body.menu-open {
        overflow: hidden;
    }
}
