:root {
  --white: #FFFFFF;
  --black: #000000;
  --orange: #FF8C42;
  --light-orange: #F2E6D9;
  --gray-lavender: #8C7B9E;
  --gray-cyan: #3E7C7C;
  --dark-cyan: #114949;
  --dark-indigo: #1f1942;
  --light-gray: #A5A4A4;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --translucent-white: rgba(255, 255, 255, 0.95);
}

.light { 
    background-color: var(--light-orange) !important;
    color: var(--black) !important;
    background-image: url('shapes/shape10_compressed.png') !important; 
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important; 
}

.dark { 
    background-color: var(--orange) !important;
    color: var(--white) !important;
    background-image: url('shapes/shape10_compressed.png') !important; 
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important; 
}

.yellow { 
    background-color: var(--gray-lavender) !important;
    color: var(--black) !important;
    background-image: url('shapes/shape20_compressed.png') !important; 
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important; 
}

.dark-yellow { 
    background-color: var(--light-orange) !important;
    color: var(--white) !important;
    background-image: url('shapes/shape20_compressed.png') !important; 
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important; 
}

.blue { 
    background-color: var(--light-gray) !important;
    color: var(--black) !important;
    background-image: url('shapes/shape30_compressed.png') !important; 
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important; 
}

.dark-blue { 
    background-color: var(--dark-indigo) !important;
    color: var(--white) !important;
    background-image: url('shapes/shape30_compressed.png') !important; 
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important; 
}



